# Resume of Labels

In [9]:
import torch
import pandas as pd
import numpy as np
import os
import yaml

## Resume by filename

In [49]:
deep = "clase3"
files = os.listdir("data/"+ deep)
taxonomy_path = "taxonomy.yml"
print(files)

['audio1201.pt', 'audio1202.pt', 'audio1203.pt', 'audio1204.pt', 'audio1205.pt', 'audio1206.pt', 'audio1207.pt', 'audio1208.pt', 'audio1209.pt', 'audio1210.pt', 'audio1211.pt', 'audio1212.pt', 'audio1213.pt', 'audio1214.pt', 'audio1215.pt', 'audio1216.pt', 'audio1217.pt', 'audio1218.pt', 'audio1219.pt', 'audio1220.pt', 'audio1221.pt', 'audio1222.pt', 'audio1223.pt', 'audio1224.pt', 'audio1225.pt', 'audio1226.pt', 'audio1227.pt', 'audio1228.pt', 'audio1229.pt', 'audio1230.pt', 'audio1231.pt', 'audio1232.pt', 'audio1233.pt', 'audio1234.pt', 'audio1235.pt', 'audio1236.pt', 'audio1237.pt', 'audio1238.pt', 'audio1239.pt', 'audio1240.pt', 'audio1241.pt', 'audio1242.pt', 'audio1243.pt', 'audio1244.pt', 'audio1245.pt', 'audio1246.pt', 'audio1247.pt', 'audio1248.pt', 'audio1249.pt', 'audio1250.pt', 'audio1251.pt', 'audio1252.pt', 'audio1253.pt', 'audio1254.pt', 'audio1255.pt', 'audio1256.pt', 'audio1257.pt', 'audio1258.pt', 'audio1259.pt', 'audio1260.pt', 'audio1261.pt', 'audio1262.pt', 'audio1263.pt', 'audio1264.pt', 'audio1265.pt', 'audio1266.pt', 'audio1267.pt', 'audio1268.pt', 'audio1269.pt', 'audio1270.pt', 'audio1271.pt', 'audio1272.pt', 'audio1273.pt', 'audio1274.pt', 'audio1275.pt', 'audio1276.pt', 'audio1277.pt', 'audio1278.pt', 'audio1279.pt', 'audio1280.pt', 'audio1281.pt', 'audio1282.pt', 'audio1283.pt', 'audio1284.pt', 'audio1285.pt', 'audio1286.pt', 'audio1287.pt', 'audio1288.pt', 'audio1289.pt', 'audio1290.pt', 'audio1291.pt', 'audio1292.pt', 'audio1293.pt', 'audio1294.pt', 'audio1295.pt', 'audio1296.pt', 'audio1297.pt', 'audio1298.pt', 'audio1299.pt', 'audio1300.pt', 'audio1301.pt', 'audio1302.pt', 'audio1303.pt', 'audio1304.pt', 'audio1305.pt', 'audio1306.pt', 'audio1307.pt', 'audio1308.pt', 'audio1309.pt', 'audio1310.pt', 'audio1311.pt', 'audio1312.pt', 'audio1313.pt', 'audio1314.pt', 'audio1315.pt', 'audio1316.pt', 'audio1317.pt', 'audio1318.pt', 'audio1319.pt', 'audio1320.pt', 'audio1321.pt', 'audio1322.pt', 'audio1323.pt', 'audio1324.pt', 'audio1325.pt', 'audio1326.pt', 'audio1327.pt', 'audio1328.pt', 'audio1329.pt', 'audio1330.pt', 'audio1331.pt', 'audio1332.pt', 'audio1333.pt', 'audio1334.pt', 'audio1335.pt', 'audio1336.pt', 'audio1337.pt', 'audio1338.pt', 'audio1339.pt', 'audio1340.pt', 'audio1341.pt', 'audio1342.pt', 'audio1343.pt', 'audio1344.pt', 'audio1345.pt', 'audio1346.pt', 'audio1347.pt', 'audio1348.pt', 'audio1349.pt', 'audio1350.pt', 'audio1351.pt', 'audio1352.pt', 'audio1353.pt', 'audio1354.pt', 'audio1355.pt', 'audio1356.pt', 'audio1357.pt', 'audio1358.pt', 'audio1359.pt', 'audio1360.pt', 'audio1361.pt', 'audio1362.pt', 'audio1363.pt', 'audio1364.pt', 'audio1365.pt', 'audio1366.pt', 'audio1367.pt', 'audio1368.pt', 'audio1369.pt', 'audio1370.pt', 'audio1371.pt', 'audio1372.pt', 'audio1373.pt', 'audio1374.pt', 'audio1375.pt', 'audio1376.pt', 'audio1377.pt', 'audio1378.pt', 'audio1379.pt', 'audio1380.pt', 'audio1381.pt', 'audio1382.pt', 'audio1383.pt', 'audio1384.pt', 'audio1385.pt', 'audio1386.pt', 'audio1387.pt', 'audio1388.pt', 'audio1389.pt', 'audio1390.pt', 'audio1391.pt', 'audio1392.pt', 'audio1393.pt', 'audio1394.pt', 'audio1395.pt', 'audio1396.pt', 'audio1397.pt', 'audio1398.pt', 'audio1399.pt', 'audio1400.pt', 'audio1401.pt', 'audio1402.pt', 'audio1403.pt', 'audio1404.pt', 'audio1405.pt', 'audio1406.pt', 'audio1407.pt', 'audio1408.pt', 'audio1409.pt', 'audio1410.pt', 'audio1411.pt', 'audio1412.pt', 'audio1413.pt', 'audio1414.pt', 'audio1415.pt', 'audio1416.pt', 'audio1417.pt', 'audio1418.pt', 'audio1419.pt', 'audio1420.pt', 'audio1421.pt', 'audio1422.pt', 'audio1423.pt', 'audio1424.pt', 'audio1425.pt', 'audio1426.pt', 'audio1427.pt', 'audio1428.pt', 'audio1429.pt', 'audio1430.pt', 'audio1431.pt', 'audio1432.pt', 'audio1433.pt', 'audio1434.pt', 'audio1435.pt', 'audio1436.pt', 'audio1437.pt', 'audio1438.pt', 'audio1439.pt', 'audio1440.pt', 'audio1441.pt', 'audio1442.pt', 'audio1443.pt', 'audio1444.pt', 'audio1445.pt', 'audio1446.pt', 'audio1447.pt', 'audio1448.pt', 'audio1449.pt', 'audio1450.pt', 'audio1451.pt', 'audio1452.pt', 'audio1453.pt', 'audio1454.pt', 'audio1455.pt', 'audio1456.pt', 'audio1457.pt', 'audio1458.pt', 'audio1459.pt', 'audio1460.pt', 'audio1461.pt', 'audio1462.pt', 'audio1463.pt', 'audio1464.pt', 'audio1465.pt', 'audio1466.pt', 'audio1467.pt', 'audio1468.pt', 'audio1469.pt', 'audio1470.pt', 'audio1471.pt', 'audio1472.pt', 'audio1473.pt', 'audio1474.pt', 'audio1475.pt', 'audio1476.pt', 'audio1477.pt', 'audio1478.pt', 'audio1479.pt', 'audio1480.pt', 'audio1481.pt', 'audio1482.pt', 'audio1483.pt', 'audio1484.pt', 'audio1485.pt', 'audio1486.pt', 'audio1487.pt', 'audio1488.pt', 'audio1489.pt', 'audio1490.pt', 'audio1491.pt', 'audio1492.pt', 'audio1493.pt', 'audio1494.pt', 'audio1495.pt', 'audio1496.pt', 'audio1497.pt', 'audio1498.pt', 'audio1499.pt', 'audio1500.pt']

In [50]:
with open(taxonomy_path) as taxpath:
    taxonomy = yaml.safe_load(taxpath)
    taxo = taxonomy['taxonomy']

In [51]:
df_dict = {"filename":[]}
for t in taxo.keys():
    df_dict[t] = []
for f in files:
    labels_f = torch.load(os.path.join("data",deep , f))
    sum_labels = np.sum(labels_f,axis=1)
    df_dict["filename"].append(f.split(".")[0])
    for i,t in enumerate(taxo.keys()):
        df_dict[t].append(int(sum_labels[i]))
df = pd.DataFrame(df_dict)
display(df)

,filename,Batrachyla_leptopus,Batrachyla_taeniata,Pleurodema_thaul,other_amphibians,Vanellus_chilensis,Theristicus_caudatus,Milvago_chimango,other_birds,dog,motor,alarm,siren,car_horn,anthropophony_others,rain_drip,rain_medium,rain_strong,blown,whistle
0,audio1201,0,0,0,0,0,0,0,0,5255,0,0,0,0,40,0,0,0,12920,0
1,audio1202,0,0,0,0,0,0,0,2638,463,291,0,0,0,0,0,0,0,12914,0
2,audio1203,0,0,0,0,0,0,633,123,1496,546,0,49,0,0,0,0,0,12901,0
3,audio1204,0,0,0,0,208,0,0,0,1899,0,0,0,0,0,0,0,0,11403,1564
4,audio1205,0,0,0,0,0,0,0,145,1727,0,0,0,0,0,0,0,0,12920,3959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,audio1496,0,0,0,0,445,3862,169,12920,3510,0,836,0,0,0,0,12920,918,12920,0
296,audio1497,0,0,0,0,0,425,0,12920,3592,1518,0,0,0,0,352,12893,0,12920,0
297,audio1498,0,0,1031,0,260,0,0,12909,872,595,1099,0,0,0,0,0,12920,12920,0
298,audio1499,0,0,0,0,1075,2452,179,12920,2219,5162,335,0,0,573,0,1026,0,12907,0
299,audio1500,0,0,0,0,707,592,0,12920,1560,4586,1650,0,317,185,0,12907,693,12920,0

In [52]:
df.to_csv("resume_" + deep + ".csv",index = False)

## Resume by wetland

In [53]:
def num2meta(num,df):
    df_n = df[(num>=df.Start) & (num<=df.End)]
    day,month,year = df_n.Date.values[0].split(' de ')
    wetland = df_n.Wetland.values[0]
    if month == 'enero':
        m = '01'
    elif month == 'abril':
        m = '04'
    elif month == 'julio':
        m = '07'
    elif month == 'octubre':
        m = '10'
    return day,m,year,wetland

In [54]:
filenames = df.iloc[:,0].values
numfiles = [int(fn.replace("audio","")) for fn in filenames]
df_data = pd.read_csv("metadata.csv")

In [55]:
day = []
month = []
year = []
wetland= []

for n in numfiles:
    d,m,y,w = num2meta(n,df_data)
    day.append(d)
    month.append(m)
    year.append(y)
    wetland.append(w)
df["day"] = day
df["month"] = month 
df ["year"] = year
df["wetland"] = wetland

In [56]:
df_wet = df.groupby(["wetland"]).sum()
df_date = df.groupby(["day","month","year"]).sum()

In [57]:
df_wet

,Batrachyla_leptopus,Batrachyla_taeniata,Pleurodema_thaul,other_amphibians,Vanellus_chilensis,Theristicus_caudatus,Milvago_chimango,other_birds,dog,motor,alarm,siren,car_horn,anthropophony_others,rain_drip,rain_medium,rain_strong,blown,whistle
wetland,,,,,,,,,,,,,,,,,,,
angachilla,342,702,172502,182,79840,83659,9238,592641,330874,178290,8420,2785,2728,114758,213814,162396,29253,762124,3166
el bosque,635,0,0,0,44453,267985,52241,460164,681666,286313,10786,30601,14579,76961,486265,329258,0,1550113,2753
miraflores,328,0,0,0,51384,112979,16353,335790,371490,240578,2884,32030,2316,63728,134108,127398,298551,1439887,163321

In [58]:
df_date

,,,Batrachyla_leptopus,Batrachyla_taeniata,Pleurodema_thaul,other_amphibians,Vanellus_chilensis,Theristicus_caudatus,Milvago_chimango,other_birds,dog,motor,alarm,siren,car_horn,anthropophony_others,rain_drip,rain_medium,rain_strong,blown,whistle
day,month,year,,,,,,,,,,,,,,,,,,,
20,07,2020,0,0,0,0,2734,64297,5376,92863,149726,85363,2020,5152,1887,7011,180827,103334,45345,600397,36711
21,07,2020,0,0,0,0,15559,48285,12236,49345,168311,111629,5867,12101,1324,1426,271222,103307,85442,555520,80273
22,07,2020,113,0,0,0,30969,97074,18072,173835,280351,143288,123,27037,9814,50518,83071,6673,30099,607109,12916
23,07,2020,850,0,0,0,19169,68391,17905,240607,259182,110652,1830,2465,1382,36190,0,153065,79981,607058,35454
24,07,2020,0,0,0,0,27406,102917,15005,239304,195586,75959,3830,15876,2488,45544,85253,90277,57684,619916,720
27,10,2020,0,505,40439,182,16399,35235,5685,211221,115964,84912,1491,1578,1694,24841,123035,105821,14722,310002,3166
28,10,2020,0,0,76761,0,43201,37274,3205,263653,138601,78296,3009,1207,717,88744,90427,13262,0,297108,0
29,10,2020,342,197,55302,0,20240,11150,348,117767,76309,15082,3920,0,317,1173,352,43313,14531,155014,0