# Resume of Labels

In [1]:
import torch
import pandas as pd
import numpy as np
import os
import yaml

## Resume by filename

In [2]:
deep = "clase3"
files = os.listdir("data/"+ deep)
taxonomy_path = "taxonomy.yml"
print(files)

['audio1482.pt', 'audio1479.pt', 'audio1367.pt', 'audio1483.pt', 'audio1389.pt', 'audio1447.pt', 'audio1370.pt', 'audio1303.pt', 'audio1382.pt', 'audio1485.pt', 'audio1441.pt', 'audio1463.pt', 'audio1495.pt', 'audio1496.pt', 'audio1413.pt', 'audio1403.pt', 'audio1410.pt', 'audio1408.pt', 'audio1366.pt', 'audio1493.pt', 'audio1380.pt', 'audio1385.pt', 'audio1486.pt', 'audio1415.pt', 'audio1474.pt', 'audio1461.pt', 'audio1384.pt', 'audio1386.pt', 'audio1396.pt', 'audio1345.pt', 'audio1356.pt', 'audio1436.pt', 'audio1364.pt', 'audio1419.pt', 'audio1442.pt', 'audio1383.pt', 'audio1460.pt', 'audio1369.pt', 'audio1434.pt', 'audio1473.pt', 'audio1394.pt', 'audio1398.pt', 'audio1498.pt', 'audio1425.pt', 'audio1391.pt', 'audio1452.pt', 'audio1378.pt', 'audio1392.pt', 'audio1446.pt', 'audio1437.pt', 'audio1399.pt', 'audio1395.pt', 'audio1480.pt', 'audio1438.pt', 'audio1487.pt', 'audio1490.pt', 'audio1368.pt', 'audio1401.pt', 'audio1362.pt', 'audio1462.pt', 'audio1458.pt', 'audio1397.pt', 'audio1426.pt', 'audio1411.pt', 'audio1381.pt', 'audio1363.pt', 'audio1429.pt', 'audio1402.pt', 'audio1454.pt', 'audio1361.pt', 'audio1420.pt', 'audio1416.pt', 'audio1457.pt', 'audio1476.pt', 'audio1488.pt', 'audio1357.pt', 'audio1455.pt', 'audio1464.pt', 'audio1428.pt', 'audio1387.pt', 'audio1431.pt', 'audio1374.pt', 'audio1373.pt', 'audio1407.pt', 'audio1456.pt', 'audio1390.pt', 'audio1406.pt', 'audio1424.pt', 'audio1427.pt', 'audio1468.pt', 'audio1481.pt', 'audio1491.pt', 'audio1375.pt', 'audio1465.pt', 'audio1470.pt', 'audio1450.pt', 'audio1405.pt', 'audio1466.pt', 'audio1443.pt', 'audio1418.pt', 'audio1484.pt', 'audio1433.pt', 'audio1371.pt', 'audio1365.pt', 'audio1393.pt', 'audio1400.pt', 'audio1412.pt', 'audio1449.pt', 'audio1388.pt', 'audio1500.pt', 'audio1492.pt', 'audio1372.pt', 'audio1379.pt', 'audio1448.pt', 'audio1444.pt', 'audio1430.pt', 'audio1471.pt', 'audio1435.pt', 'audio1376.pt', 'audio1497.pt', 'audio1432.pt', 'audio1421.pt', 'audio1440.pt', 'audio1477.pt', 'audio1475.pt', 'audio1467.pt', 'audio1377.pt', 'audio1494.pt', 'audio1409.pt', 'audio1453.pt', 'audio1423.pt', 'audio1404.pt', 'audio1478.pt', 'audio1445.pt', 'audio1422.pt', 'audio1499.pt', 'audio1459.pt', 'audio1451.pt', 'audio1469.pt', 'audio1489.pt', 'audio1417.pt', 'audio1472.pt', 'audio1439.pt', 'audio1414.pt']

In [3]:
with open(taxonomy_path) as taxpath:
    taxonomy = yaml.safe_load(taxpath)
    taxo = taxonomy['taxonomy']

In [4]:
df_dict = {"filename":[]}
for t in taxo.keys():
    df_dict[t] = []
for f in files:
    labels_f = torch.load(os.path.join("data",deep , f))
    sum_labels = np.sum(labels_f,axis=1)
    df_dict["filename"].append(f.split(".")[0])
    for i,t in enumerate(taxo.keys()):
        df_dict[t].append(int(sum_labels[i]))
df = pd.DataFrame(df_dict)
display(df)

,filename,Batrachyla_leptopus,Batrachyla_taeniata,Pleurodema_thaul,other_amphibians,Vanellus_chilensis,Theristicus_caudatus,Milvago_chimango,other_birds,dog,motor,alarm,siren,car_horn,anthropophony_others,rain_drip,rain_medium,rain_strong,blown,whistle
0,audio1482,0,0,0,0,3758,1355,137,12920,5633,2371,319,0,0,1686,0,0,0,12920,0
1,audio1479,0,0,3494,0,0,5140,160,12920,3522,1033,0,0,0,0,0,12920,0,12907,0
2,audio1367,0,0,0,0,177,349,0,395,8785,3277,0,3702,274,277,12920,0,0,12920,0
3,audio1483,0,0,247,0,668,4486,276,12920,3827,1302,0,0,0,10682,0,0,0,12920,0
4,audio1389,0,0,0,0,1749,2996,0,0,5051,5739,0,101,313,2605,0,0,0,12920,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,audio1489,342,197,8948,0,4984,0,0,12209,9670,1249,0,0,0,0,0,0,0,12920,0
140,audio1417,0,0,0,0,0,0,0,350,8266,4470,384,0,144,0,0,0,0,12920,0
141,audio1472,0,0,0,0,622,169,0,12920,4971,1180,0,0,0,0,12920,0,0,12920,0
142,audio1439,0,0,0,0,0,0,0,904,1526,1321,1375,0,0,0,12920,0,0,12920,0
143,audio1414,0,0,0,0,178,0,0,199,6386,7546,143,0,0,156,0,0,0,12920,0

In [5]:
df.to_csv("resume_" + deep + ".csv",index = False)

## Resume by wetland

In [6]:
def num2meta(num,df):
    df_n = df[(num>=df.Start) & (num<=df.End)]
    day,month,year = df_n.Date.values[0].split(' de ')
    wetland = df_n.Wetland.values[0]
    if month == 'enero':
        m = '01'
    elif month == 'abril':
        m = '04'
    elif month == 'julio':
        m = '07'
    elif month == 'octubre':
        m = '10'
    return day,m,year,wetland

In [7]:
filenames = df.iloc[:,0].values
numfiles = [int(fn.replace("audio","")) for fn in filenames]
df_data = pd.read_csv("metadata.csv")

In [8]:
day = []
month = []
year = []
wetland= []

for n in numfiles:
    d,m,y,w = num2meta(n,df_data)
    day.append(d)
    month.append(m)
    year.append(y)
    wetland.append(w)
df["day"] = day
df["month"] = month 
df ["year"] = year
df["wetland"] = wetland

In [9]:
df_wet = df.groupby(["wetland"]).sum()
df_date = df.groupby(["day","month","year"]).sum()

In [10]:
df_wet

,Batrachyla_leptopus,Batrachyla_taeniata,Pleurodema_thaul,other_amphibians,Vanellus_chilensis,Theristicus_caudatus,Milvago_chimango,other_birds,dog,motor,alarm,siren,car_horn,anthropophony_others,rain_drip,rain_medium,rain_strong,blown,whistle
wetland,,,,,,,,,,,,,,,,,,,
angachilla,342,702,172502,182,79840,83659,9238,592641,330874,178290,8420,2785,2728,114758,213814,162396,29253,762124,3166
el bosque,635,0,0,0,39146,198422,45455,377841,515138,208585,4212,25063,13078,69921,215051,148431,0,1072099,720
miraflores,0,0,0,0,0,3409,0,3147,1280,363,0,0,0,0,0,0,0,12920,0

In [11]:
df_date

,,,Batrachyla_leptopus,Batrachyla_taeniata,Pleurodema_thaul,other_amphibians,Vanellus_chilensis,Theristicus_caudatus,Milvago_chimango,other_birds,dog,motor,alarm,siren,car_horn,anthropophony_others,rain_drip,rain_medium,rain_strong,blown,whistle
day,month,year,,,,,,,,,,,,,,,,,,,
21,07,2020,0,0,0,0,6375,23777,3083,29860,62025,37866,368,3702,1219,987,77494,25814,0,142120,0
22,07,2020,113,0,0,0,17245,64399,16949,112922,179252,71929,0,12530,9249,32445,83071,6673,0,309988,0
23,07,2020,522,0,0,0,12457,46008,17329,118549,165504,55250,1830,1316,1073,18177,0,64358,0,309911,0
24,07,2020,0,0,0,0,3069,67647,8094,119657,109637,43903,2014,7515,1537,18312,54486,51586,0,323000,720
27,10,2020,0,505,40439,182,16399,35235,5685,211221,115964,84912,1491,1578,1694,24841,123035,105821,14722,310002,3166
28,10,2020,0,0,76761,0,43201,37274,3205,263653,138601,78296,3009,1207,717,88744,90427,13262,0,297108,0
29,10,2020,342,197,55302,0,20240,11150,348,117767,76309,15082,3920,0,317,1173,352,43313,14531,155014,0

In [12]:
df_wet.to_csv("wet_resume_" + deep + ".csv",index   = True)
df_date.to_csv("date_resume_" + deep + ".csv",index = True)